:root {
  --bg-dark: oklch(0.92 0.025 264);
  --bg: oklch(0.96 0.025 264);
  --bg-light: oklch(1 0.025 264);
  --text: oklch(0.15 0.05 264);
  --border: oklch(0.6 0.05 264);
  --border-muted: oklch(0.7 0.05 264);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

.login,
.profileSettings {
  padding: 3rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--bg);
  border: 5px;
  border-color: var(--border-muted);
  border-top-color: var(--border);
  border-radius: 1rem;
  box-shadow: 0 0 30px 0 var(--bg-dark);
}

.login input {
  background-color: var(--bg-light);
  border-color: var(--border-muted);
  border-top-color: var(--border);

  color: var(--text);
}

.dashboardBody {
  margin-top: 1rem;
  padding: 1rem;

  text-align: center;

  background-color: var(--bg);
  border-radius: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-light);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* CSS for the Loading Spinner */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--bg-light);
  border-bottom-color: var(--text);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
