html {
  background-color: white;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 1em;

  height: 100%;
  width: 40%;
  padding-left: 0;

  list-style: none;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.notificationItem {
  border-radius: 1rem;
  height: 5em;
  display: flex;
  flex-direction: column;
}

.infoNotification {
  background-color: rgb(173, 216, 230);
}

.errorNotification {
  background-color: red;
}

.successNotification {
  background-color: lightgreen;
}

.notificationItemHeader {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  list-style: none;
  border-bottom: 3px solid black;
}

.notificationItemMessage {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 5px;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.control form {
  display: flex;
  align-items: center;
}
