html {
  background-color: oklch(95% 0 0);
}

#root {
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.login,
.notesPanel,
.history,
.collaborators {
  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: oklch(100% 0 0);
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.login {
  padding: 3rem;
  padding-top: 1rem;
  font-size: xx-large;

  gap: 1rem;
}

#home {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
}

.topbar {
  grid-row: 1;
  grid-column: 1/3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notesPanel {
  grid-row: 2 / 4;
}

.history {
  grid-row: 3;
  grid-column: 2;
}

.collaborators {
  grid-row: 2;
  grid-column: 2;
}

ul {
  list-style: none;
  padding-left: 0;
}

.notesPanel .controls,
.history .controls {
  margin-top: auto;
}
