html {
  background-color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.outlet {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  border-radius: 1rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: blue;
}

.active,
.error {
  color: red;
}

ul {
  list-style: none;
  padding-left: 0;
}
