html {
  background-color: oklch(95% 0 0);
}

#root {
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.tagsPanel {
  padding: 2rem;

  background-color: oklch(100% 0 0);
  border-radius: 1rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
